/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#game_panel {
  height: 100vh;
  display: flex;
}

#game {
  max-height: 100vh;
  aspect-ratio: 1/1;
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vh;
  padding: 1vh;
}

@media (max-width: 830px) {
  #game_panel {
    flex-direction: column;
  }
}

#information {
  flex: 1;
  background-color: lightgray;
  padding: 1vh;
}

.card {
  border: 2px solid black;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% 70%;
}

.hard.visible[data-value=a] {
  background-image: url(/icons/cable-car-solid.svg);
}

.hard.visible[data-value=b] {
  background-image: url(/icons/car-burst-solid.svg);
}

.hard.visible[data-value=c] {
  background-image: url(/icons/car-on-solid.svg);
}

.hard.visible[data-value=d] {
  background-image: url(/icons/car-rear-solid.svg);
}

.hard.visible[data-value=e] {
  background-image: url(/icons/car-side-solid.svg);
}

.hard.visible[data-value=f] {
  background-image: url(/icons/car-solid.svg);
}

.hard.visible[data-value=g] {
  background-image: url(/icons/car-tunnel-solid.svg);
}

.hard.visible[data-value=h] {
  background-image: url(/icons/taxi-solid.svg);
}

.easy.visible[data-value=a] {
  background-image: url(/icons/bacon-solid.svg);
}

.easy.visible[data-value=b] {
  background-image: url(/icons/bowl-food-solid.svg);
}

.easy.visible[data-value=c] {
  background-image: url(/icons/burger-solid.svg);
}

.easy.visible[data-value=d] {
  background-image: url(/icons/carrot-solid.svg);
}

.easy.visible[data-value=e] {
  background-image: url(/icons/leaf-solid.svg);
}

.easy.visible[data-value=f] {
  background-image: url(/icons/lemon-solid.svg);
}

.easy.visible[data-value=g] {
  background-image: url(/icons/seedling-solid.svg);
}

.easy.visible[data-value=h] {
  background-image: url(/icons/pepper-hot-solid.svg);
}

#trophy {
  display: none;
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  background-position: center;
}

[data-value='gold'] {
  background-color: yellow;
}

[data-value='silver'] {
  background-color: grey;
}

[data-value='bronze'] {
  background-color: orange;
}

#trophy.visible {
  background-image: url(/icons/trophy-solid.svg);
  display: block;
}

.card.visible {
  background-color: bisque;
}

.card.matched {
  background-color: aquamarine;
}

#reset-game {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

#set-difficulty {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}